html, body, #map
{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html, body {
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Rakkas', cursive;
}

#submitButton {
	position: fixed;
	right: 5px;
	top: 5px;
	font-weight: bold;
/*	background-color: green;
	color: white;*/
}
#showTable {
	position: fixed;
	right: 45px;
	bottom: 20px;
	font-weight: bold;
}
#travel_data {
	position: fixed;
	left: 5px;
	bottom: 5px;
	height:125px;
	max-width: 300px;
	padding: 5px;
	/*overflow-x: scroll;*/
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 17px -6px rgba(3,44,59,0.8);
	background-color: #222;
	color: #DD8324;
}

#tableHeader:hover {
	cursor: pointer;
}

#infoTable {
	position: fixed;
	right: 5px;
	/*top: 100px;*/
	bottom: 5px;
	max-width: 1000px;
	/*height: 400px;*/
	overflow-y: scroll;
    /*white-space: nowrap;*/
	 /*overflow-x: scroll;*/
	box-shadow: 10px 10px 17px -6px rgba(3,44,59,0.8);
	background-color: white;
	display: none;
}

#infoTable, table {
	text-align: left;
	/*max-height: 400px;*/
	/*overflow: hidden;*/
	overflow-y: scroll;
	/*margin: 0 auto;*/
	display: table;
	color: white;
	table-layout: fixed;
}

#infoTable td, .infoTable th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left:2%;  
}

/* Background-color of the odd rows */
#infoTable tr:nth-child(odd) {
	background-color: #323C50;
}

/* Background-color of the even rows */
#infoTable tr:nth-child(even) {
	background-color: #2C3446;
}

#infoTable th {
	background-color: #1F2739;
	text-align: center;
}

#infoTable td:first-child , th { 
	text-align: center;
	color: #DD8324;  
	/*color: white;*/
	/*width: 160px;*/
	font-weight: bold;
}

#infoTable td.first-child
{
    width:35px;
}

#infoTable td.second-child
{
    width:75px;
}

#arrow {
	position: relative;
	margin-left: 1px;
}

#HomeStartButton {
	position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-size: 20px;
	width: 200px;
	box-shadow: 0px 0px 89px 13px rgba(10,86,99,1);
}


#Heading{
	font-family: 'Rakkas', cursive;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	z-index: 1010;
	font-size: 26px;
	text-align: center;
	background: #222;
	color: white;
	margin-top: 0px;
	height: 40px;
}

#Heading H1 {
	padding-top: -5px;
	font-size: 28px;
	margin-top: 5px;
}

#workOrderSummary {
	position: fixed;
	left: 5px;
	top: 6%;
	height:75px;
	width: 250px;
	padding: 5px;
	font-size: 16px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 17px -6px rgba(3,44,59,0.8);
	background-color: #222;
	color: #DD8324;
}

#infoAlert{
	z-index: 10;
	position: absolute;
    top: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#footer {
	font-family: 'Rakkas', cursive;	
	text-align: center;
	position:fixed;
	left:0px;
	bottom:0px;
	height:35px;
	width:100%;
	background:#999;
	z-index: 1010;
}

#footer p{
	font-size: 22px;
	text-align: center;
	margin-top: 5px;
}


#mainTable {
	overflow:scroll;
}
