body {
	background-color: rgb(26,25,29);
	color: #eee;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
}

.olControlLayerSwitcher {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 3px;
    position: fixed;
    /*right: 0;*/
    top: 50px;
    right: 20px;
    width: 20em;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

h1{
font-family: 'Rakkas', cursive;
font-size: 30px;
text-align: center;
margin-top: 0px;
background:#222;
color: #DD8324;
}

#Heading{
position:fixed;
left:0px;
top:0px;
width:100%;
z-index: 1010;
}

#Heading p{
font-size: 22px;
}
p{
font-family: 'Rakkas', cursive;
font-size: 20px;        
/*font-weight: lighter;*/
}



#nodeList {
	width: 100%;
}


#GMLTable {
	  text-align: left;
	  overflow: hidden;
	  width: 500px;
	  margin: 0 auto;
	  display: table;
}

#GMLTable td, .GMLTable th {
	  padding-bottom: 2%;
	  padding-top: 2%;
 	  padding-left:2%;  
}

/* Background-color of the odd rows */
#GMLTable tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
#GMLTable tr:nth-child(even) {
	  background-color: #2C3446;
}

#GMLTable th {
	  background-color: #1F2739;
}

#GMLTable td:first-child { 
	  color: #DD8324;  
	  width: 160px;
       	  font-weight: bold;
}



#footer {
text-align: center;
position:fixed;
left:0px;
bottom:0px;
height:35px;
width:100%;
background:#999;
z-index: 1010;
}

#footer p{
text-align: center;
margin-top: 5px;
}

